<template name="admin">
  <h1>Admin panel content</h1>
  {{#if isInRole 'admin'}}
    {{> adminPageContent}}
  {{else}}
    You are simple user.
  {{/if}}
</template>

<template name="adminPageContent">

<h2>Add new dish:</h2>
<form class="addNewDish">
  <input type="text" name="dishName" placeholder="Dish name">
  <input type="submit" value="Create">
</form>

<section style="padding: 10px; margin: 10px 0; background-color: lightblue;">
  <label>Dishes from base:</label>
  <ul>
    {{#each dishes}}
      {{> dish}}
    {{/each}}
  </ul>
</section>

<h2>Add new product:</h2>
<form class="addNewProduct">
  <input type="text" name="productName" placeholder="Product name">
  <input type="number" name="proteins" value="0" min="0" max="100" step="0.05">
  <input type="number" name="fats" value="0" min="0" max="100" step="0.05">
  <input type="number" name="carbohydrates" value="0" min="0" max="100" step="0.05">
  <input type="submit" value="Submit">
</form>

<section style="padding: 10px; margin: 10px 0; background-color: lightpink;">
<label>Products from base:</label>
<p style="padding: 10px 0 0 10px">name | proteins | fats | carbohydrates</p>
<ul>
  {{#each products}}
    {{> product}}
  {{/each}}
</ul>
</section>

</template>

<template name="product">
  <li>{{name}} | {{proteins}} | {{fats}} | {{carbohydrates}} <button class="deleteCurrentProduct">✖</button></li>
</template>

<template name="dish">
  <li class="control-panel-dish-item">
    <p><span class="dish-item-name">{{name}}</span><button class="deleteCurrentDish">✖</button></p>
    <label>Add product to dish:</label>
    <input type="search" class="addProductToDish" data-id="{{_id}}">

    <ul class="product-variants">{{#each variants}}
      {{> variant}}
    {{/each}}</ul>

    <ul>{{#each this.products}}
        <li data-id="{{id}}"><span>{{name}}</span><input type="number" name="weight" value="{{weight}}" min="0" max="10000" step="0.5"></li>
    {{/each}}</ul>

  </li>

</template>

<template name="variant">
  <li data-id="{{_id}}" class="variant"><span>{{name}}</span><button class="addToDish">Add</button></li>
</template>
