<head>
  <title>fiteat from layout</title>
  <link rel="icon" href="http://studioshloshtreve.com/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Atomic+Age" rel="stylesheet">  
</head>

<template name="main">
  <h1>Main page content</h1>

  <p>
    Keep your food diary in a most simple way.<br>
    Users have possibility to use global data base of application, create records to their personal food diary and see statistics day by day (сalories, proteins, fats, carbohydrates).
  </p>

</template>
